.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.toggle-left {
  justify-content: flex-start;
}

.toggle-center {
  justify-content: center;
}

.toggle-right {
  justify-content: flex-end;
}

.toggle-container {
  /* width: 264px; */
  margin-bottom: 1rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.toggle-logo {
  height: 3rem;
  width: 3rem;
  /* background-color: black; */
  background-image: url("https://i.imgur.com/Jc3igg7.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.toggle-content {
  padding: 0 0.5rem;
  color: #113a32;
}

.toggle-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.125rem;
}

.toggle-subtitle {
  font-size: 0.675rem;
}

/* .toggle-btn {
	padding: 16px;
	border: 1px solid black;
	color: white;
	background: green;
} */

.switch-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.cart .switch-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-container span {
  display: block;
}
